# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
# Poetry
.venv/
poetry.lock

# IDE
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# data files
data/